@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

.container {
  font-family: "Inter", sans-serif;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 8vw;
}

.bodyTitle {
  margin-top: 400px;
  font-size: 4vw;
}

.bodyText {
  font-size: 2vw;
}

.lineMask {
  overflow: hidden;
}

.lineMask p {
  margin: 0px;
  font-weight: 700;
}
