.mainExpo {
  // margin-top: 25vh;
  background-color: #181818;
  .expositionDetails {
    height: 100vh;
    background-color: brown;
    display: flex;
    justify-content: center;
    align-items: center;
    .container {
      height: 75%;
      width: 75%;
      background-color: rgb(80, 121, 121);
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .link {
      position: absolute;
      bottom: -2800px;
      right: 140px;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 150px;
      width: 150px;
      background: aqua;
    }
  }
}
