.mainExpo {
  // margin-top: 25vh;
  background-color: #181818;
  .expositionDetails {
    height: 100vh;
    background-color: brown;
    display: flex;
    justify-content: center;
    align-items: center;
    .container {
      height: 70%;
      width: 70%;
      background-color: rgb(80, 121, 121);
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      padding: 3rem;
      .title {
        background-color: aquamarine;
        font-size: 3rem;
      }
      .description {
        font-size: 2rem;
        background: red;
      }
    }
    .link {
      position: absolute;
      bottom: -2800px;
      right: 140px;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 150px;
      width: 150px;
      background: aqua;
    }
  }
}
