.mainExpo {
  // margin-top: 25vh;
  background-color: #181818;
  .expositionDetails {
    height: 100vh;
    background-color: brown;
    display: flex;
    justify-content: center;
    align-items: center;
    .container {
      height: 80%;
      width: 80%;
      background-color: aqua;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
