@import "../components/Layout/Stairs/styles.scss";
@import "../components/Layout/Inner/style.scss";
@import "../components/Layout/Curve/style.scss";
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

section {
  background: #e2e8f0;
}

.interview-section {
  font-family: "Inter", sans-serif;
  display: flex;
  flex-direction: column;
  gap: 150px;
  justify-content: center;

  .personna {
    display: flex;
    margin: 0 auto;
    width: 80%;
  }

  .photo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 100%;
  }

  .avatar-photo {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 9999px;
    width: 20rem;
    height: 20rem;
  }

  .interview-description {
    display: flex;
    column-gap: 4rem;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 100%;
  }

  .avatar-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    height: 50%;
  }

  .avatar-details p {
    margin: 0;
  }

  .description-job-section {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 300;
    font-size: 3rem;
    width: 100%;
  }

  .description-job {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75%;
    height: 66.666667%;
  }
  overflow: hidden;
  height: 100vh;
  font-size: 3.75rem;
  line-height: 1;
  font-weight: 700;
  color: #000000;
}

@media screen and (max-width: 768px) {
  .interview-section {
    display: flex;
    // gap: 100px;
    height: 2500px;

    .personna {
      margin-top: -500px;
      display: flex;
      flex-direction: column;
      justify-content: start;
      height: 30%;
      font-size: 2rem;
    }

    .photo {
      margin: 0 auto;
      .avatar-photo {
        width: 200px;
        height: 200px;
      }
    }
    .interview-description {
      display: flex;
      flex-direction: column;
      justify-content: start;
      gap: 30px;

      .avatar-details {
        width: 100%;
        gap: 10px;
      }
    }
    .description-job {
      font-size: 2rem;
      height: 1000px;
    }
  }
}
