@import "../components/Layout/Stairs/styles.scss";
@import "../components/Layout/Inner/style.scss";
@import "../components/Layout/Curve/style.scss";

.main {
  .header {
    display: flex;
    gap: 15px;
    padding: 40px;
    height: 30px;
    position: fixed;
    left: 0px;
    top: 0px;
    a {
      text-decoration: none;
      color: black;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  //   .page {
  //     padding: 40px;
  //     min-height: calc(100vh - 80px);
  //   }
  h1 {
    margin-top: 50px;
  }
  .body {
    display: flex;
    gap: 40px;
  }

  .hero {
    height: 100vh;
  }

  .hero .Section_top {
    width: 100%;
    height: 100%;
    background-image: url(images/image.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    justify-content: center;
    animation: change 20s infinite ease-in-out;
  }
  .hero .content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-transform: uppercase;
  }

  @keyframes change {
    0% {
      background-image: url(images/img1.jpg);
    }
    20% {
      background-image: url(images/img2.jpg);
    }
    40% {
      background-image: url(images/image.jpg);
    }
    60% {
      background-image: url(images/img4.jpg);
    }
    80% {
      background-image: url(images/img5.jpg);
    }
    100% {
      background-image: url(images/img1.jpg);
    }
  }
}

.interview-section {
  overflow: hidden;
  height: 100vh;
  font-size: 3.75rem;
  line-height: 1;
  font-weight: 700;
  color: #000000;
}

.personna {
  display: flex;
  width: 100%;
  height: 50%;
  background-color: #f59e0b;
}

.photo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100%;
}

.avatar-photo {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 9999px;
  width: 20rem;
  height: 20rem;
  background-color: #60a5fa;
}

.interview-description {
  display: flex;
  column-gap: 5rem;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100%;
}

.avatar-details {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 50%;
  background-color: #ef4444;
}

.avatar-details p {
  margin: 0;
}

.description-job-section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50%;
  background-color: #10b981;
}

.description-job {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid white;
  width: 75%;
  height: 66.666667%;
}

.cards {
  position: relative;
}

.cardContainer {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: sticky;
  top: 0px;
  .card {
    display: flex;
    flex-direction: column;
    position: relative;
    top: -25%;
    height: 500px;
    width: 1000px;
    border-radius: 25px;
    padding: 50px;
    transform-origin: top;
    h2 {
      text-align: center;
      margin: 0px;
      font-size: 28px;
    }
    .body {
      display: flex;
      height: 100%;
      margin-top: 50px;
      gap: 50px;

      .description {
        width: 40%;
        position: relative;
        top: 10%;
        p {
          font-size: 16px;
          &::first-letter {
            font-size: 28px;
            font-family: "Title";
          }
        }
        span {
          display: flex;
          align-items: center;
          gap: 5px;
          a {
            font-size: 12px;
            text-decoration: underline;
            cursor: pointer;
          }
        }
      }

      .imageContainer {
        position: relative;
        width: 60%;
        height: 100%;
        border-radius: 25px;
        overflow: hidden;
        .inner {
          width: 100%;
          height: 100%;
        }
        img {
          object-fit: cover;
        }
      }
    }
  }
}
