.stairs .transition-container {
  position: fixed;
  width: 100vw;
  height: 100vh;
  display: flex;
  left: 0;
  top: 0;
  pointer-events: none;
  z-index: 2;
}
.stairs .transition-container div {
  position: relative;
  height: 100%;
  width: 100%;
  background-color: black;
}
.stairs .transition-background {
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color: black;
  z-index: 1;
  pointer-events: none;
  top: 0;
  left: 0;
}

.inner {
  background-color: black;
}
.inner .page {
  background-color: white;
}
.inner .slide {
  height: 100vh;
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  background-color: white;
  z-index: 1;
}

.curve svg, .curve .background {
  position: fixed;
  height: calc(100vh + 600px);
  width: 100vw;
  pointer-events: none;
  left: 0;
  top: 0;
}
.curve .background {
  background-color: black;
  transition: opacity 0s linear 0.1s;
}
.curve .route {
  position: absolute;
  left: 50%;
  top: 40%;
  color: white;
  font-size: 46px;
  z-index: 3;
  transform: translateX(-50%);
  text-align: center;
}

.main .navBar {
  background-color: #60a5fa;
  z-index: 2;
  display: flex;
  gap: 15px;
  padding: 40px;
  height: 30px;
  position: fixed;
  left: 0px;
  top: 0px;
}
.main .navBar a {
  text-decoration: none;
  color: black;
}
.main .navBar a:hover {
  text-decoration: underline;
}
.main .body {
  display: flex;
  gap: 40px;
}
.main .hero {
  height: 100vh;
}
.main .hero .Section_top {
  width: 100%;
  height: 100%;
  background-image: url(images/img6.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  justify-content: center;
  animation: change 25s infinite ease-in-out;
}
@keyframes change {
  0% {
    background-image: url(images/img1.jpg);
  }
  20% {
    background-image: url(images/img2.jpg);
  }
  40% {
    background-image: url(images/img3.jpg);
  }
  60% {
    background-image: url(images/img4.jpg);
  }
  80% {
    background-image: url(images/img5.jpg);
  }
  100% {
    background-image: url(images/img6.jpg);
  }
}
.main .hero .Section_top .btnNext {
  display: relative;
  z-index: 2;
  bottom: 0%;
  right: 0%;
}
.main .hero .content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-transform: uppercase;
}
.main .interview-section {
  overflow: hidden;
  height: 100vh;
  font-size: 3.75rem;
  line-height: 1;
  font-weight: 700;
  color: #000000;
}
.main .interview-section .personna {
  display: flex;
  width: 100%;
  height: 50%;
  background-color: #f59e0b;
}
.main .interview-section .photo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100%;
}
.main .interview-section .avatar-photo {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 9999px;
  width: 20rem;
  height: 20rem;
  background-color: #60a5fa;
}
.main .interview-section .interview-description {
  display: flex;
  -moz-column-gap: 5rem;
       column-gap: 5rem;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100%;
}
.main .interview-section .avatar-details {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 50%;
  background-color: #ef4444;
}
.main .interview-section .avatar-details p {
  margin: 0;
}
.main .interview-section .description-job-section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50%;
  background-color: #10b981;
}
.main .interview-section .description-job {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid white;
  width: 75%;
  height: 66.666667%;
}/*# sourceMappingURL=styles.css.map */