@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

.cardContainer {
  font-family: "Inter", sans-serif;

  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: sticky;
  top: 0px;
  .card {
    display: flex;
    flex-direction: column;
    position: relative;
    top: -25%;
    height: 450px;
    width: 1000px;
    border-radius: 25px;
    padding: 50px;
    transform-origin: top;
    h2 {
      text-align: center;

      margin: 0px;
      font-size: 48px;
    }
    .bodyCard {
      display: flex;
      height: 100%;
      margin-top: 50px;
      gap: 50px;

      .descriptionCard {
        width: 100%;
        p {
          font-size: 28px;
        }
      }
    }
  }
}
