@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

.menu {
  height: 100vh;
  background-color: #18181b;
  position: fixed;
  right: 0;
  top: 0;
  color: #e5e7eb;
  z-index: 3;
  font-family: "Inter", sans-serif;

  .body {
    box-sizing: border-box;
    height: 100%;
    padding: 100px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    .nav {
      display: flex;
      flex-direction: column;
      font-size: 56px;
      gap: 12px;
      margin-top: 80px;

      a {
        text-decoration: none;
        color: white;
        font-weight: 300;
      }
    }
  }
}
