.header {
  padding: 30px;
  position: fixed;
  right: 0;
  z-index: 4;

  .button {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #d4d4d8;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .burger {
    width: 100%;
    &::after,
    &::before {
      content: "";
      display: block;
      height: 1px;
      width: 40%;
      margin: auto;
      background-color: #64748b;
      position: relative;
      transition: transform 0.3s;
      &:hover {
        background-color: white;
      }
    }

    &::after {
      top: -5px;
    }

    &::before {
      top: 5px;
    }
  }

  .burgerActive {
    &::after {
      transform: rotate(45deg);
      top: -1px;
    }

    &::before {
      transform: rotate(-45deg);
      top: 0px;
    }
  }
}
